.blog-listing-wrapper{
    margin: 100px 50px;
    .blog-listing-inner{
    }
}

.signup-box{
    background: #F2F2F2;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding: 45px 70px;
    text-align: center;
    margin-bottom: 30px;
    a{
        text-decoration: none;
        h4{
            font-weight: $bold;
            font-size: 46px;
            line-height: 46px;
            letter-spacing: 0.01em;
            color: $darkgrey_color;
        }
        p{
            font-weight: normal;
            font-size: 28px;
            line-height: 28px;
            color: $primary_color;
            font-style: italic;
        }
    }
}