$primary_color: #D0232A;
$darkgrey_color:#312F30;
$text_color: #5A5A5A;
$light_text:#A8A9AD;
$body_color:#ffffff;
$semi_bold:600;
$bold:bold;
$white: #ffffff;
$white: #ffffff;
$button_hover:-5px 1px 9px rgba(0, 0, 0, 0.25);
$ease_transition:all .3s ease;
// font sizes
$font_text: 'Degular-Regular';
// Responsive Variables
$xsmall: 575px; // 576
$small: 767px; // 768
$medium: 991px; // 992
$large: 1199px; // 1200
$xlarge: 1200px;